@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<form class="my-3" asp-action="Index" asp-controller="Users">
    <div class="row">
        <div class="col-sm-5 mb-2 ">
            <input placeholder="Search By Email" name="Email" class="form-control" />
        </div>

        <div class="col-sm-3">
            <input type="submit" value="Search" class="btn btn-success btn-block" />
        </div>
    </div>
</form>

@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(User => User.Id)</th>
                <th>@Html.DisplayNameFor(User => User.UserName)</th>
                <th>@Html.DisplayNameFor(User => User.Email)</th>
                <th>@Html.DisplayNameFor(User => User.IsAgree)</th>

                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                    <td>@item.IsAgree</td>



                    <td>
                        <a class="btn btn-success" asp-controller="Users" asp-action="Details" asp-route-id="@item.Id">
                            <i class="fa-eye"></i> Details
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-controller="Users" asp-action="Update" asp-route-id="@item.Id">
                            <i class="fa-edit"></i> Update

                        </a>
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-controller="Users" asp-action="Delete" asp-route-id="@item.Id">
                            <i class="fa-trash"></i> Delete

                        </a>
                    </td>


                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert-warning">
        <h3>No Users Found!!</h3>
    </div>
}

